{% extends 'website/base.html' %}
{% load static %}

{% block main %}
<section>
    <div class="row">
        <div class="col-lg-12">
            <h1>Saiba mais sobre nossos serviços</h1>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga sapiente doloribus harum nostrum et. Ad
                modi
                reprehenderit ut itaque eligendi error, enim numquam quaerat! Vel iste excepturi eos cumque culpa itaque
                ducimus
                optio repellat, mollitia maiores placeat molestias eaque! Iste, labore fugit atque corrupti corporis,
                quod eligendi
                aspernatur, provident maiores autem quam. Assumenda neque amet, eos necessitatibus incidunt odio ipsam?
            </p>
        </div>

        <div class="col-lg-6">
            <img src="{% static 'img/Parking_logo.png' %}" alt="Estacionamento">
        </div>
        <div class="col-lg-6">
            <img src="{% static 'img/Parking_logo.png' %}" alt="Estacionamento">
        </div>
    </div>



</section>
{% endblock %}