{% extends 'base.html' %}
{% load bootstrap %}

{% block main %}
<div class="row">
    <div class="col-md-12">
        <h2>
            Lista de Pessoas
        </h2>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <form action="{% url 'core:pessoa-novo' %}" method="post">
            {% csrf_token %}

            {{form | bootstrap}}


            <input type="submit" class="btn btn-primary " value="Cadastrar">
        </form>
    </div>
    <div class="col-md-6">
        <table class="table table-light table-hover">
            <thead class="thead-dark">
                <th>Nome</th>
                <th>Ação</th>
            </thead>
            <tbody>
                {% for pessoa in pessoas %}
                <tr>
                  <td><a href="{% url 'core:pessoa_update' pessoa.id %}"> {{pessoa.nome}} </a> </td>
                  <td> <a href="{% url 'core:pessoa_delete' pessoa.id %}" class="btn btn-danger">Deletar</a></li></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}