{% extends 'base.html' %}
{% load bootstrap %}

{% block main %}
<div class="row">
    <div class="col-md-12">
        <h2>Lista de veiculos</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <form action="{% url 'core:veiculo_novo' %}" method="post">
            {% csrf_token %}
            {{form | bootstrap}}
            <input type="submit" class="btn btn-primary" value="Cadastrar">
        </form>
    </div>
    <div class="col-md-6">
        <table class="table table-light table-hover">
            <thead class="thead-dark">
                <th>Nome</th>
                <th style="text-align: center">Açoes</th>
            </thead>
            <tbody>
                {% for veiculo in veiculos %}
                <tr>
                    <td>
                        <a href="{% url 'core:veiculo_update' veiculo.id %}">{{veiculo.modelo}}</a>
                    </td>
                    <td>
                        <a href="{% url 'core:veiculo_delete' veiculo.id %}" class="btn btn-danger pull-right">Excluir</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'core:create_pdf' %}" class="btn btn-info">Gerar PDF</a>
        <a href="{% url 'core:create_csv' %}" class="btn btn-warning">Gerar CSV</a>
    </div>
</div>
{% endblock main %}

{% block title %}
    Veiculos
{% endblock %}
    