{% extends 'base.html' %}
{% load bootstrap %}

{% block main %}
<div class="row">
    <div class="col-md-12">
        <h2>Lista de movimento rotativo</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <form action="{% url 'core:movrotativo_novo' %}" method="post">
            {% csrf_token %}
            {{form | bootstrap}}
            <input type="submit" class="btn btn-primary" value="Cadastrar">
        </form>
    </div>
    <div class="col-md-5">
        
        <table class="table table-light table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Nome</th>
                    <th>Check-in</th>
                    <th>Check-out</th>
                    <th>Veiculo</th>
                    <th>Total</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for rotativo in mov_rots %}
                    <tr>
                        <td><a href="{% url 'core:movrotativo_update' rotativo.id %}"> {{rotativo}} </a></td>
                        <td>{{rotativo.checkin| date:'d/m/Y H:i:s'}}</td>
                        <td>{{rotativo.checkout|date:'d/m/Y H:i:s'}}</td>
                        <td>{{rotativo.veiculo.modelo}}</td>
                        <td>R$ {{rotativo.total}}</td>
                        <td><a href="{% url 'core:movrotativo_delete' rotativo.id %}" class="pull-right btn btn-danger" style="float:right">Excluir</a> </li></td>
                    </tr>
                 {% endfor %}
            </tbody>
        </table>

        
    </div>
</div>
{% endblock main %}


{% block title %}
    Movimento Mensalistas
{% endblock %}
    